name: Emmersive Elin CI Deploy

on:
  push:
    branches: ["*"]
    paths: ["Emmersive/**"]
  pull_request:
    paths: ["Emmersive/**"]
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  build-and-upload:
    name: Build
    runs-on: windows-2025

    strategy:
      matrix:
        version: [stable, nightly]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          sparse-checkout: |
            CustomWhateverLoader/
            Emmersive/
            Directory.Build.props
          sparse-checkout-cone-mode: false

      - name: Checkout Deps
        uses: actions/checkout@v5
        with:
          path: ${{ matrix.version }}
          ref: ${{ matrix.version }}
          repository: gottyduke/Elin.Plugins.BuildDeps
          ssh-key: ${{ secrets.DEPS_DEPLOY_KEY }}

      - name: Setup DotNet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.100
          cache: true
          cache-dependency-path: |
            ${{ github.workspace }}\CustomWhateverLoader\packages.lock.json
            ${{ github.workspace }}\Emmersive\packages.lock.json

      - name: Setup Packages
        run: |
          dotnet restore ${{ github.workspace }}\CustomWhateverLoader\ --locked-mode
          dotnet restore ${{ github.workspace }}\Emmersive\ --locked-mode

      - name: Build
        id: build
        env:
          ElinGamePath: ${{ github.workspace }}\${{ matrix.version }}
        shell: pwsh
        run: |
          $config = '${{ matrix.version }}' -eq 'stable' ? 'Debug' : 'DebugNightly'
          dotnet build ${{ github.workspace }}\CustomWhateverLoader\CustomWhateverLoader.csproj -o ${{ github.workspace }}\${{ matrix.version }}\Package\Mod_CustomWhateverLoader -c $config --no-restore
          dotnet build ${{ github.workspace }}\Emmersive\Emmersive.csproj -o ${{ github.workspace }}\out\${{ matrix.version }} -c $config --no-restore

          $dllPath = Join-Path -Path "${{ github.workspace }}\out\${{ matrix.version }}" -ChildPath "Emmersive.dll"
          $fileVersion = (Get-Item -Path $dllPath).VersionInfo.FileVersion
          $fileVersionShort = $fileVersion.Split('.')[0..2] -join '.'

          echo "file_version=$fileVersion" >> $env:GITHUB_OUTPUT
          echo "file_version_short=$fileVersionShort" >> $env:GITHUB_OUTPUT
          echo "file_name=emmersive-ci-builds-$fileVersion-${{ matrix.version }}" >> $env:GITHUB_OUTPUT

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build.outputs.file_name }}
          path: ${{ github.workspace }}\out\${{ matrix.version }}

      - name: Prepare Release
        id: artifact
        shell: pwsh
        run: |
          $source = "${{ github.workspace }}\out\${{ matrix.version }}"
          $destination = "${{ github.workspace }}\out\${{ matrix.version }}\emmersive-ci-builds-${{ matrix.version }}.zip"

          Compress-Archive -Path "$source\*" -DestinationPath $destination -Force
          $path = $destination -Replace '\\', '/'

          echo "artifact_path=$path" >> $env:GITHUB_OUTPUT

          $log = git log "$(git describe --tags --abbrev=0 --match="EM-*")..HEAD" --pretty=format:"%s" -- Emmersive/ | ? { $_ -notmatch "cleanup" }
          $log = $log -join "`n"
          $EOF = [guid]::NewGuid().ToString()
          Add-Content -Path $env:GITHUB_OUTPUT -Value "change_logs<<$EOF"
          Add-Content -Path $env:GITHUB_OUTPUT -Value $log
          Add-Content -Path $env:GITHUB_OUTPUT -Value $EOF

      - name: Create or Update Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: EM-${{ steps.build.outputs.file_version_short }}
          name: Emmersive - Elin with AI ${{ steps.build.outputs.file_version }}
          draft: false
          prerelease: true
          generate_release_notes: false
          body: ${{ steps.artifact.outputs.log }}
          files: ${{ steps.artifact.outputs.artifact_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
