name: Plugin Template NuGet CI Deploy

on:
  push:
    branches: ["*"]
    paths: ["PluginTemplate/**"]
  pull_request:
    paths: ["PluginTemplate/**"]
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  build-and-upload:
    name: Build
    runs-on: windows-2025

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          sparse-checkout: |
            PluginTemplate/
            global.json
          sparse-checkout-cone-mode: false

      - name: Setup DotNet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Pack NuGet
        id: build
        shell: pwsh
        run: |
          cd PluginTemplate
          dotnet pack -o .\nupkgs
          dotnet nuget push .\nupkgs\*.nupkg -k ${{ secrets.NUGET_PUBLISH_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
